@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h5>Email (1)</h5>
<input type="text" placeholder="Your Email" />
<h5>Subject*</h5>
<input type="text" placeholder="Subject" />
<h5>Message *</h5>
<textarea placeholder="Message"></textarea>
<br />
<input type="submit" value="Submit"/>
